spring:
  data:
    mongodb.uri: ${db_url:mongodb://localhost:27017/seulah-app-design?createDatabaseIfNotExist=true}
  sql:
    init.mode: always
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  application:
    name: CMS-SERVICE
server:
  port: 8090
eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    ip-address: true


